@import url('https://fonts.googleapis.com/css2?family=Lato&family=Josefin+Sans&display=swap');

:root {
  --lowlight: rgb(65, 64, 66);
  --primary-color: rgb(149, 149, 244);
  --highlight: rgb(83, 244, 148);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
}

a,
p {
  font-family: 'Lato', sans-serif;
}

h2 {
  border-bottom: var(--highlight) 6px solid;
}

a {
  margin: 0.5rem;
}

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

form button {
  padding: 1rem;
  margin: 1rem;
}

#header {
  padding: 1rem;
  margin-bottom: 5rem;
  background-color: var(--primary-color);
  color: black;
}

.login-form {
  margin-top: 5rem;
}

.ride-card {
  padding: 1rem;
  margin: 1rem;
  list-style: none;
  border: 2px black solid;
}